.task-completed {
  text-decoration: line-through;
}

.task-input {
  display: flex;
  align-items: center;
}

.task-input .ion-item {
  flex-grow: 1;
  margin-right: 3rem;
}

/* Aligne les éléments de la liste à l'intérieur de IonItemSliding */
.item-sliding-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Boutons alignés à droite et ont une taille fixe */
.button-group {
  display: flex;
  justify-content: flex-end;
}
